<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odin2.odinsettings">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:persistent="false"
        android:theme="@style/OdinSettingsTheme">

        <activity
            android:name=".MainSettingsActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/app_name" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/settings_entry_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_odin" />
            <meta-data
                android:name="com.android.settings.profile"
                android:value="primary_profile_only" />
        </activity>

        <activity-alias
            android:name=".LauncherActivity"
            android:exported="true"
            android:icon="@drawable/ic_settings_odin"
            android:label="@string/app_name"
            android:targetActivity=".MainSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ControllerTestActivity"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            android:label="@string/controller_test_title"
            android:parentActivityName=".MainSettingsActivity" />

        <receiver
            android:name=".platform.ControllerColdBootReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".tiles.KeepScreenOnTileService"
            android:exported="true"
            android:icon="@drawable/ic_qs_keep_screen_on"
            android:label="@string/tile_keep_screen_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.ForceLandscapeTileService"
            android:exported="true"
            android:icon="@drawable/ic_qs_force_landscape"
            android:label="@string/tile_force_landscape"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
